@media only screen and (max-width: 500px){
    .logo-search{
        flex-direction: column;
    }
    .champs{
        width: 20%
    }
    .choices{
        width: 80%
    }
    .lanes{
        width: 2em;
        height: 2em;
    }
}