#simulator{
    display: flex;
    justify-content:center;
}
p{
    color: #efd;
}
.info{
    left: 0%
}

#champs{
    border-radius:15px;
    width: 700px;
    height:400px;
    overflow: scroll;
    order: 0;
    justify-content:center;
    -moz-box-shadow: 0 0 5px #cb8;
    -webkit-box-shadow: 0 0 5px #cb8;
    box-shadow: 0px 0px 5px #cb8;
    background-image:url("http://apollo-na-uploads.s3.amazonaws.com/1427669031664/SRBackground.png")
}

#champs2{
    border-radius:15px;
    width: 700px;
    height:139px;
    overflow: scroll;
    order: 0;
    justify-content:center;
    -moz-box-shadow: 0 0 5px #cb8;
    -webkit-box-shadow: 0 0 5px #cb8;
    box-shadow: 0px 0px 5px #cb8;
    background-image:url("http://apollo-na-uploads.s3.amazonaws.com/1427669031664/SRBackground.png")
}
.choose{
    padding:10px;
    width: 70px;
    
}
.choose:hover{
    cursor: pointer;
    border-radius:10px;
    transition: all 1ms cubic-bezier(0.68, -0.75, 0.6, 1);
 box-shadow:
   0 0 40px 10px rgb(11, 139, 139);

}
.choices{
    width: 250px;
    height: 400px;
    order: 0;
    box-shadow: 0px 0px 5px #cb8;
    background-image:url("http://apollo-na-uploads.s3.amazonaws.com/1427669031664/SRBackground.png");
    border-radius:15px;
<<<<<<< HEAD
=======

>>>>>>> 2bc8e4920357dfbdb5337c7c9218dc0d37015e6e
}

.champ-choice1, .champ-choice{
    width: 100px;
    height: 100px;
    -moz-box-shadow: 0 0 5px #cb8;
    -webkit-box-shadow: 0 0 5px #cb8;
    box-shadow: 0px 0px 5px #cb8;
    background-image:url("http://apollo-na-uploads.s3.amazonaws.com/1427669031664/SRBackground.png")
}


.counter{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   letter-spacing:1px;

   
}

.items{
    width: 40px;
    height: 40px
}

p{
    font-size: 10px
    
}
.roles{
    width: 50px;
    height: 50px;
    background-color:black;
    opacity: 0.9;
  border-radius: 25px;
}
.roles:hover{
    background-color:whitesmoke;
    border-radius: 70%;
    transition: all 5ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
 box-shadow:
   0 0 30px 15px silver,
   0 0 500px 20px #0ff;
    
}

.summonername {
    width:650px;
    height:40px;
    margin-top:100px;
    margin-right:280px;
    background-image:url("http://apollo-na-uploads.s3.amazonaws.com/1427669031664/SRBackground.png");
    box-shadow: 0px 0px 5px #cb8;
    border-radius:15px; 
    color:white;
    font-size:25px;
    font-weight:100%;
    font-family: 'Oswald', sans-serif;
    margin-bottom:29px;
    letter-spacing:1px;
}

.summonername:hover {
 border-radius:7px;
 background: rgba(40,0,40,0.4);
 transition: all 1ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
 box-shadow:
   0 0 10px 1px #fff,
   0 0 500px 20px #0ff;
   color:black;
}


.Logo {
width:280px;
height:100px;
float:left;
margin-top: 30px;

}


h2 {
    font-size:60px;
    font-family: 'Oswald', sans-serif;
    letter-spacing:1px;
    color:rgb(29, 49, 58);
}

p {
    width:240px;
    font-size:20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing:1px;
}

.inner {
    display: flex;
    justify-content:center;
}
.champ-info {
    border: 5px groove whitesmoke;
    width: 700px;
    height: 400px;
    margin-top: 40px;
}